//
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
        display: inline-block;
        margin: 0 10px;
        a {
            color: black;
            text-decoration: none;
            padding-bottom: 50px;
            &.active {
                color: #0282f9;
                border-bottom: #0282f9 5px solid;
            }
        }
    }
}

.contain-jumbotron {
    main {
        padding: 0;
        margin: 12px 0 0 0;
        box-sizing: border-box;
        background-image: url("/assets/img/jumbotron.jpg");
        display: flex;
        align-items: center;
        height: 435px;
        position: relative;
            .contain{
                position: absolute;
                background-color: #0282f9;
                padding: 5px 10px;
                color: white;
                top: 420px;
                left: 15%;
            }
            .contain-b{
                position: absolute;
                color: white;
                top: 200px;
                left: 15%;
                border: solid 1px white;
            }
            .position-a{
                position: absolute;
                top: 0;
                background-color: #00a9d9;
            }
            .position-b{
                position: absolute;
                bottom: 0;
                background-color: #00a9d9;
                width: 100%;
                text-align: center;
            }
        }
    }
    
.contain-c{
    width: 100%;
    height: 80px;
    background-color: #0282f9;
}
    
.comics{
    background-color: black;
    padding: 50px 0;
    #comicslist {
       width: 70%;
       margin: auto;
       display: flex;
       flex-wrap: wrap;
     }

     #load {
         position: relative;
         left: 50%;
         transform: translate( -50%);
         color: white;
         background: #0282f9;
         border: solid 1px #0282f9;
         padding: 5px 25px;
     }

     .comic {
        width: calc(100% / 6);
        margin-bottom: 20px;
        
        h4 {
            color: white;
            width: 150px;
            margin: 10px 0;
        }
    
        .contain-img {
            width: 150px;
            height: 150px;
    
            img{
               object-fit: cover;
               object-position: 0 10px;
               width: 100%;
               height: 100%; 
            }
        } 
      }
}

.nav-by-icon {
    footer {
        background-color: #0282f9;
        height: 200px;
        display: flex;
        align-items: center;
            nav{
                width: 70%;
                margin: auto;
                
                ul {
                    display: flex;
                    justify-content: space-between;
                    list-style-type: none;
                        a {
                            display: flex;
                            align-items: center;
                            text-decoration: none;
                            color: white;
                                .icon{
                                    display: inline-block;
                                    width: 70px;
                                    height: 70px;
                                    margin-right: 10px;
                                }
                                img {
                                    object-fit: contain;
                                    width: 100%;
                                    height: 100%;
                                }
                        }
                }
            }
    }
}

.footer-links {
    footer {
        background-image: url("/assets/img/footer-bg.jpg");
        background-size: cover;
        align-items: center;

            #contain {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 70%;
                margin: auto;
                justify-content: space-between;

                nav {
                    display: flex;
                    justify-content: space-between;
                }

                #links{
                    width: 50%;
                }

                #logo {
                    margin-right: 100px;
                    width: 50%;
                    height: 350px;
                    
                    img {
                    object-fit: none;
                    width: 150%;
                    height: 100%;
                    }
                }

                ul {
                    list-style-type: none;
                    margin: 30px 30px 0;


                    h3 {
                        color: white;
                        margin-bottom: 15px;
                    }
        
                    a {
                        color: gray;
                        text-decoration: none;
                    }
                }
            }
        }
}

.footer-follow {
    background-color: #303030;

    padding: 5px;

    #container {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            background-color: #303030;
            color: white;
            padding: 10px;
            border: solid 2px #0282f9;
        };

        ul {   
          display: flex;
          align-items: center;

            h3{
                color: #0282f9;
            };

            li{
                display: inline-block;
                margin: 0 10px;
            }  
        };
    }
}
.prova {
    color: green;
}